.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  font-family: "CabinetGrotesk", sans-serif;
  visibility: hidden;
}
.modal_opened {
  visibility: visible;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal__input {
  border-style: none;
  border-bottom: 2px solid #000000;
  opacity: 1;
  padding-bottom: 4px;
  font-weight: 700;
  font-size: 16px;
}

.modal__input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  width: 16px;
  height: 16px;
  background: transparent url("../../assets/close-icon.svg") center/contain
    no-repeat;
  border: none;
  cursor: pointer;
}

.modal__title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}

.modal__form {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: #fff;
  border-radius: 8px;
  padding: 28px;
  width: 100%;
  max-width: 480px;
}

.modal__legend {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 16px;
}

.modal__radio-buttons {
  display: flex;
  gap: 8px;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0;
}

.modal__radio-label {
  display: flex;
  gap: 8px;
  font-weight: 700;
  font-size: 16px;
}

.modal__add-clothes-button {
  max-width: 124px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
  background-color: #000000;
  opacity: 30%;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
