.main {
  display: block;
}

.main__weather-message {
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-left: 40px;
  margin-top: 40px;
}

.main__item-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  gap: 20px;
  max-width: 1280px;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
}
