.item-card {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.item-card__image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.item-card__title {
  font-family: "CabinetGrotesk", sans-serif;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  background-color: #ffffff;
  margin-top: 15px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
  position: absolute;
}
