.weather-card {
    position: relative;
    display: flex;
    height: 80px;
    border-radius: 12px;
    overflow: hidden;
    margin-left: 40px;
    margin-right: 40px;
}
   

.weather-card__image {
   object-fit: cover; 
   object-position: right top;
   width: 100%;
}

.weather-card__temp {
    position: absolute;
    top: 20px;
    left: 20px;
    margin: 0;
    color: #ffffff;
    font-family: "CabinetGrotesk", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
}

.weather-card__what-to-wear {
font-family: Cabinet Grotesk;
font-weight: 700;
font-style: Bold;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;

}